
#container {
	border: 1px solid black;
	background: url(../fundo_quadriculado.png);
	background-repeat: repeat;
	background-size: 25px 25px;
	max-width: 99vw!important;
	max-height: 99vh!important;
	margin-left: 50px;
	margin-top: 50px;
}

.paredes_container {
	border: 1px solid black;
	background: url(../fundo_quadriculado.png);
	background-repeat: repeat;
	background-size: 25px 25px;
	max-width: 85vw!important;
	max-height: 90vh!important;
	/*margin-left: 50px;*/
	margin-top: 10px
}

.konvajs-content{
	max-width: 85vw!important;
	max-height: 90vh!important;
}

.nav{
	width: 25vw;
	margin-top: 50px;
	max-width: 75vw;
	height: 5px;
	background-color: #BBB;
	margin-left: 50px;
	margin-right: 50px;
}

body {
	overflow: hidden;
	display: grid;
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
}
.container-fluid{
	min-height: 100vh;
	min-width: 100vw;
	background-color: #EEE;
	display: flex;
	padding: 0;
}
.menu-left{
	background-color: #BBB;
	min-height:100vh;
	width: 20vw;
}

.buttons{
	display: grid;

}

.content-layer{
	display: flex;
}
.img-produto{
	width: 4rem;
	height: 4rem;
}

.menu-opcoes{  
	height: -webkit-fill-available;
	width: 70px;
}
.opcoes{  
	display: flow-root;
	width: inherit;
	overflow: auto;
}